# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Pods/JKDataHelper/JKDataHelper/Classes/JKDataHelper.h
Example/Pods/JKDataHelper/JKDataHelper/Classes/NSArray+JKDataHelper.h
Example/Pods/JKDataHelper/JKDataHelper/Classes/NSArray+JKDataHelper.m
Example/Pods/JKDataHelper/JKDataHelper/Classes/NSDictionary+JKDataHelper.h
Example/Pods/JKDataHelper/JKDataHelper/Classes/NSDictionary+JKDataHelper.m
Example/Pods/JKDataHelper/JKDataHelper/Classes/NSString+JKDataHelper.h
Example/Pods/JKDataHelper/JKDataHelper/Classes/NSString+JKDataHelper.m
Example/Pods/JKDataHelper/LICENSE
Example/Pods/JKDataHelper/README.md
Example/Pods/Target Support Files/JKDataHelper/JKDataHelper-Info.plist
Example/Pods/Target Support Files/JKDataHelper/JKDataHelper-dummy.m
Example/Pods/Target Support Files/JKDataHelper/JKDataHelper-prefix.pch
Example/Pods/Target Support Files/JKDataHelper/JKDataHelper-umbrella.h
Example/Pods/Target Support Files/JKDataHelper/JKDataHelper.modulemap
Example/Pods/Target Support Files/JKDataHelper/JKDataHelper.xcconfig
Example/Pods/Target Support Files/JKWKWebViewHandler/JKWKWebViewHandler-Info.plist
Example/Pods/Target Support Files/Pods-JKWKWebViewHandler_Example/Pods-JKWKWebViewHandler_Example-Info.plist
Example/Pods/Target Support Files/Pods-JKWKWebViewHandler_Tests/Pods-JKWKWebViewHandler_Tests-Info.plist